flask
gunicorn
python-dotenv
pypdf

# Compatible Langchain ecosystem
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-pinecone
langchain-experimental

pinecone-client
sentence-transformers
openai
tiktoken
huggingface-hub

# For editable install if using setup.py
-e .
